github-private-key:  |
    -----BEGIN RSA PRIVATE KEY-----
    ...
    -----END RSA PRIVATE KEY-----
cf-api: https://test.api
cf-username: concourse@xyz.abc
cf-password: 12345
cf-org: SeRoNet
cf-space: Testing
slack-webhook: https://chat.test
