<app-page-header>
  <span *ngIf="(singleUser$ | async); else multiUser">Manager Roles: {{(singleUser$ | async).username }}</span>
  <ng-template #multiUser>Manager Users Roles</ng-template>
</app-page-header>
<app-steppers cancel="{{defaultCancelUrl}}">
  <app-step *ngIf="(initialUsers$ | async).length === 0" title="Select" [blocked$]="select.cfRolesService.loading$" [onNext]="select.onNext" [valid]="select.valid$ | async">
    <app-manage-users-select #select></app-manage-users-select>
  </app-step>
  <app-step title="Modify" [blocked$]="modify.cfRolesService.loading$" [onNext]="modify.onNext" [valid]="modify.valid$ | async">
    <app-manage-users-modify #modify></app-manage-users-modify>
  </app-step>
  <app-step title="Confirm ">
  </app-step>
  <app-step title="Progress ">
  </app-step>
</app-steppers>

<!-- cancelButtonText="Cancel " finishButtonText="Create " -->
