<div class="modify-users__selected-users">
  Selected Users:
  <span *ngFor="let user of users; let index = index">
    {{user.username}}<span *ngIf="index !== users.length - 1; else lastUser">, </span>
  </span>
</div>
<div class="modify-users__orgs stepper-form">
  <div *ngIf="singleOrg$ | async as singleOrg; then singleOrg else manyOrgs"></div>
  <ng-template #singleOrg>{{singleOrg.entity.name }}</ng-template>
  <ng-template #manyOrgs>
    <mat-form-field>
      <mat-select #cfSelect="ngModel" [ngModel]="selectedOrgGuid" (change)="updateOrg($event.value)" required placeholder="Organization">
        <mat-option *ngFor="let org of organizations$ | async;trackBy:org?.metadata?.guid" [value]="org.metadata.guid">
          {{org.entity.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
</div>
<div class="modify-users__org-roles">
  <app-cf-role-checkbox [users]="users" [orgGuid]="selectedOrgGuid" [role]="'orgManager'" (change)="updateOrgUser()"></app-cf-role-checkbox>
  <app-cf-role-checkbox [users]="users" [orgGuid]="selectedOrgGuid" [role]="'auditor'" (change)="updateOrgUser()"></app-cf-role-checkbox>
  <app-cf-role-checkbox [users]="users" [orgGuid]="selectedOrgGuid" [role]="'billingManager'" (change)="updateOrgUser()"></app-cf-role-checkbox>
  <app-cf-role-checkbox [users]="users" [orgGuid]="selectedOrgGuid" [role]="'user'" (change)="updateOrgUser()"></app-cf-role-checkbox>
</div>
<div class="modify-users__spaces-roles">
  <div #spaceRolesTable></div>
</div>
