:host {
  flex: 1;
}

.modify-users {
  // &__orgs,
  // &__spaces-roles
  // &__selected-users,
  &__org-roles {
    padding-bottom: 20px;
    app-cf-role-checkbox {
      padding-right: 15px;
    }
  }
}
